# Caddyfile configuration for DaemonTalk
daemontalk.com {
    redir https://www.daemontalk.com{uri} 308
}

www.daemontalk.com {
    encode zstd gzip

    reverse_proxy 127.0.0.1:8080

    log {
        output file /var/log/caddy/daemontalk_access.log {
            roll_size 100mb
            roll_keep 5
        }
    }
}
