package templates

templ blogPostScripts() {
	<script src={ assetURL("/static/js/post/utils.js") } defer></script>
	<script src={ assetURL("/static/js/post/bookmarks.js") } defer></script>
	<script src={ assetURL("/static/js/post/reading-modes.js") } defer></script>
	<script src={ assetURL("/static/js/post/code-blocks.js") } defer></script>
	<script src={ assetURL("/static/js/post/share.js") } defer></script>
	<script src={ assetURL("/static/js/post/toc.js") } defer></script>
	<script src={ assetURL("/static/js/post/task-lists.js") } defer></script>
	<script src={ assetURL("/static/js/post/footnotes.js") } defer></script>
	<script src={ assetURL("/static/js/post/code-tabs.js") } defer></script>
	<script src={ assetURL("/static/js/post/read-status.js") } defer></script>
	<script src={ assetURL("/static/js/post/comments.js") } defer></script>
}
