
#reactions-bar .bookmark-btn.is-saved {
  border-color: var(--c-border) !important;
  color: var(--c-text) !important;
  background-color: var(--c-hover) !important;
  font-weight: 700 !important;
}

#reactions-bar .bookmark-btn.is-saved:hover {
  background-color: var(--c-hover) !important;
  border-color: var(--c-border) !important;
}
