
.chroma {
  color: var(--c-text);
  background-color: var(--c-surface);
}
.chroma .nx,
.chroma .p,
.chroma .nn,
.chroma .n {
  color: inherit;
}

[data-theme="light"] .bg, html:not([data-theme="dark"]) .bg { background-color: #ffffff; }
[data-theme="light"] .chroma, html:not([data-theme="dark"]) .chroma { background-color: #ffffff; }
[data-theme="light"] .chroma .err, html:not([data-theme="dark"]) .chroma .err { color: #f6f8fa; background-color: #82071e }
[data-theme="light"] .chroma .lnlinks, html:not([data-theme="dark"]) .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
[data-theme="light"] .chroma .lntd, html:not([data-theme="dark"]) .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
[data-theme="light"] .chroma .lntable, html:not([data-theme="dark"]) .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
[data-theme="light"] .chroma .hl, html:not([data-theme="dark"]) .chroma .hl { background-color: #e5e5e5 }
[data-theme="light"] .chroma .lnt, html:not([data-theme="dark"]) .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
[data-theme="light"] .chroma .ln, html:not([data-theme="dark"]) .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
[data-theme="light"] .chroma .line, html:not([data-theme="dark"]) .chroma .line { display: flex; }
[data-theme="light"] .chroma .k, html:not([data-theme="dark"]) .chroma .k { color: #cf222e }
[data-theme="light"] .chroma .kc, html:not([data-theme="dark"]) .chroma .kc { color: #cf222e }
[data-theme="light"] .chroma .kd, html:not([data-theme="dark"]) .chroma .kd { color: #cf222e }
[data-theme="light"] .chroma .kn, html:not([data-theme="dark"]) .chroma .kn { color: #cf222e }
[data-theme="light"] .chroma .kp, html:not([data-theme="dark"]) .chroma .kp { color: #cf222e }
[data-theme="light"] .chroma .kr, html:not([data-theme="dark"]) .chroma .kr { color: #cf222e }
[data-theme="light"] .chroma .kt, html:not([data-theme="dark"]) .chroma .kt { color: #cf222e }
[data-theme="light"] .chroma .na, html:not([data-theme="dark"]) .chroma .na { color: #1f2328 }
[data-theme="light"] .chroma .nc, html:not([data-theme="dark"]) .chroma .nc { color: #1f2328 }
[data-theme="light"] .chroma .no, html:not([data-theme="dark"]) .chroma .no { color: #0550ae }
[data-theme="light"] .chroma .nd, html:not([data-theme="dark"]) .chroma .nd { color: #0550ae }
[data-theme="light"] .chroma .ni, html:not([data-theme="dark"]) .chroma .ni { color: #6639ba }
[data-theme="light"] .chroma .nl, html:not([data-theme="dark"]) .chroma .nl { color: #990000; font-weight: bold }
[data-theme="light"] .chroma .nn, html:not([data-theme="dark"]) .chroma .nn { color: #24292e }
[data-theme="light"] .chroma .nx, html:not([data-theme="dark"]) .chroma .nx { color: #1f2328 }
[data-theme="light"] .chroma .nt, html:not([data-theme="dark"]) .chroma .nt { color: #0550ae }
[data-theme="light"] .chroma .nb, html:not([data-theme="dark"]) .chroma .nb { color: #6639ba }
[data-theme="light"] .chroma .bp, html:not([data-theme="dark"]) .chroma .bp { color: #6a737d }
[data-theme="light"] .chroma .nv, html:not([data-theme="dark"]) .chroma .nv { color: #953800 }
[data-theme="light"] .chroma .vc, html:not([data-theme="dark"]) .chroma .vc { color: #953800 }
[data-theme="light"] .chroma .vg, html:not([data-theme="dark"]) .chroma .vg { color: #953800 }
[data-theme="light"] .chroma .vi, html:not([data-theme="dark"]) .chroma .vi { color: #953800 }
[data-theme="light"] .chroma .vm, html:not([data-theme="dark"]) .chroma .vm { color: #953800 }
[data-theme="light"] .chroma .nf, html:not([data-theme="dark"]) .chroma .nf { color: #6639ba }
[data-theme="light"] .chroma .fm, html:not([data-theme="dark"]) .chroma .fm { color: #6639ba }
[data-theme="light"] .chroma .s, html:not([data-theme="dark"]) .chroma .s { color: #0a3069 }
[data-theme="light"] .chroma .sa, html:not([data-theme="dark"]) .chroma .sa { color: #0a3069 }
[data-theme="light"] .chroma .sb, html:not([data-theme="dark"]) .chroma .sb { color: #0a3069 }
[data-theme="light"] .chroma .sc, html:not([data-theme="dark"]) .chroma .sc { color: #0a3069 }
[data-theme="light"] .chroma .dl, html:not([data-theme="dark"]) .chroma .dl { color: #0a3069 }
[data-theme="light"] .chroma .sd, html:not([data-theme="dark"]) .chroma .sd { color: #0a3069 }
[data-theme="light"] .chroma .s2, html:not([data-theme="dark"]) .chroma .s2 { color: #0a3069 }
[data-theme="light"] .chroma .se, html:not([data-theme="dark"]) .chroma .se { color: #0a3069 }
[data-theme="light"] .chroma .sh, html:not([data-theme="dark"]) .chroma .sh { color: #0a3069 }
[data-theme="light"] .chroma .si, html:not([data-theme="dark"]) .chroma .si { color: #0a3069 }
[data-theme="light"] .chroma .sx, html:not([data-theme="dark"]) .chroma .sx { color: #0a3069 }
[data-theme="light"] .chroma .sr, html:not([data-theme="dark"]) .chroma .sr { color: #0a3069 }
[data-theme="light"] .chroma .s1, html:not([data-theme="dark"]) .chroma .s1 { color: #0a3069 }
[data-theme="light"] .chroma .ss, html:not([data-theme="dark"]) .chroma .ss { color: #032f62 }
[data-theme="light"] .chroma .m, html:not([data-theme="dark"]) .chroma .m { color: #0550ae }
[data-theme="light"] .chroma .mb, html:not([data-theme="dark"]) .chroma .mb { color: #0550ae }
[data-theme="light"] .chroma .mf, html:not([data-theme="dark"]) .chroma .mf { color: #0550ae }
[data-theme="light"] .chroma .mh, html:not([data-theme="dark"]) .chroma .mh { color: #0550ae }
[data-theme="light"] .chroma .mi, html:not([data-theme="dark"]) .chroma .mi { color: #0550ae }
[data-theme="light"] .chroma .il, html:not([data-theme="dark"]) .chroma .il { color: #0550ae }
[data-theme="light"] .chroma .mo, html:not([data-theme="dark"]) .chroma .mo { color: #0550ae }
[data-theme="light"] .chroma .o, html:not([data-theme="dark"]) .chroma .o { color: #0550ae }
[data-theme="light"] .chroma .ow, html:not([data-theme="dark"]) .chroma .ow { color: #0550ae }
[data-theme="light"] .chroma .p, html:not([data-theme="dark"]) .chroma .p { color: #1f2328 }
[data-theme="light"] .chroma .c, html:not([data-theme="dark"]) .chroma .c { color: #57606a }
[data-theme="light"] .chroma .ch, html:not([data-theme="dark"]) .chroma .ch { color: #57606a }
[data-theme="light"] .chroma .cm, html:not([data-theme="dark"]) .chroma .cm { color: #57606a }
[data-theme="light"] .chroma .c1, html:not([data-theme="dark"]) .chroma .c1 { color: #57606a }
[data-theme="light"] .chroma .cs, html:not([data-theme="dark"]) .chroma .cs { color: #57606a }
[data-theme="light"] .chroma .cp, html:not([data-theme="dark"]) .chroma .cp { color: #57606a }
[data-theme="light"] .chroma .cpf, html:not([data-theme="dark"]) .chroma .cpf { color: #57606a }
[data-theme="light"] .chroma .gd, html:not([data-theme="dark"]) .chroma .gd { color: #82071e; background-color: #ffebe9 }
[data-theme="light"] .chroma .ge, html:not([data-theme="dark"]) .chroma .ge { color: #1f2328 }
[data-theme="light"] .chroma .gi, html:not([data-theme="dark"]) .chroma .gi { color: #116329; background-color: #dafbe1 }
[data-theme="light"] .chroma .go, html:not([data-theme="dark"]) .chroma .go { color: #1f2328 }
[data-theme="light"] .chroma .gl, html:not([data-theme="dark"]) .chroma .gl { text-decoration: underline }
[data-theme="light"] .chroma .w, html:not([data-theme="dark"]) .chroma .w { color: #ffffff }

[data-theme="dark"] .bg { color: #e6edf3; background-color: #0d1117; }
[data-theme="dark"] .chroma { color: #e6edf3; background-color: #0d1117; }
[data-theme="dark"] .chroma .err { color: #f85149 }
[data-theme="dark"] .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
[data-theme="dark"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
[data-theme="dark"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
[data-theme="dark"] .chroma .hl { background-color: #6e7681 }
[data-theme="dark"] .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #737679 }
[data-theme="dark"] .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #6e7681 }
[data-theme="dark"] .chroma .line { display: flex; }
[data-theme="dark"] .chroma .k { color: #ff7b72 }
[data-theme="dark"] .chroma .kc { color: #79c0ff }
[data-theme="dark"] .chroma .kd { color: #ff7b72 }
[data-theme="dark"] .chroma .kn { color: #ff7b72 }
[data-theme="dark"] .chroma .kp { color: #79c0ff }
[data-theme="dark"] .chroma .kr { color: #ff7b72 }
[data-theme="dark"] .chroma .kt { color: #ff7b72 }
[data-theme="dark"] .chroma .nc { color: #f0883e; font-weight: bold }
[data-theme="dark"] .chroma .no { color: #79c0ff; font-weight: bold }
[data-theme="dark"] .chroma .nd { color: #d2a8ff; font-weight: bold }
[data-theme="dark"] .chroma .ni { color: #ffa657 }
[data-theme="dark"] .chroma .ne { color: #f0883e; font-weight: bold }
[data-theme="dark"] .chroma .nl { color: #79c0ff; font-weight: bold }
[data-theme="dark"] .chroma .nn { color: #ff7b72 }
[data-theme="dark"] .chroma .py { color: #79c0ff }
[data-theme="dark"] .chroma .nt { color: #7ee787 }
[data-theme="dark"] .chroma .nv { color: #79c0ff }
[data-theme="dark"] .chroma .vc { color: #79c0ff }
[data-theme="dark"] .chroma .vg { color: #79c0ff }
[data-theme="dark"] .chroma .vi { color: #79c0ff }
[data-theme="dark"] .chroma .vm { color: #79c0ff }
[data-theme="dark"] .chroma .nf { color: #d2a8ff; font-weight: bold }
[data-theme="dark"] .chroma .fm { color: #d2a8ff; font-weight: bold }
[data-theme="dark"] .chroma .l { color: #a5d6ff }
[data-theme="dark"] .chroma .ld { color: #79c0ff }
[data-theme="dark"] .chroma .s { color: #a5d6ff }
[data-theme="dark"] .chroma .sa { color: #79c0ff }
[data-theme="dark"] .chroma .sb { color: #a5d6ff }
[data-theme="dark"] .chroma .sc { color: #a5d6ff }
[data-theme="dark"] .chroma .dl { color: #79c0ff }
[data-theme="dark"] .chroma .sd { color: #a5d6ff }
[data-theme="dark"] .chroma .s2 { color: #a5d6ff }
[data-theme="dark"] .chroma .se { color: #79c0ff }
[data-theme="dark"] .chroma .sh { color: #79c0ff }
[data-theme="dark"] .chroma .si { color: #a5d6ff }
[data-theme="dark"] .chroma .sx { color: #a5d6ff }
[data-theme="dark"] .chroma .sr { color: #79c0ff }
[data-theme="dark"] .chroma .s1 { color: #a5d6ff }
[data-theme="dark"] .chroma .ss { color: #a5d6ff }
[data-theme="dark"] .chroma .m { color: #a5d6ff }
[data-theme="dark"] .chroma .mb { color: #a5d6ff }
[data-theme="dark"] .chroma .mf { color: #a5d6ff }
[data-theme="dark"] .chroma .mh { color: #a5d6ff }
[data-theme="dark"] .chroma .mi { color: #a5d6ff }
[data-theme="dark"] .chroma .il { color: #a5d6ff }
[data-theme="dark"] .chroma .mo { color: #a5d6ff }
[data-theme="dark"] .chroma .o { color: #ff7b72; font-weight: bold }
[data-theme="dark"] .chroma .ow { color: #ff7b72; font-weight: bold }
[data-theme="dark"] .chroma .c { color: #8b949e; font-style: italic }
[data-theme="dark"] .chroma .ch { color: #8b949e; font-style: italic }
[data-theme="dark"] .chroma .cm { color: #8b949e; font-style: italic }
[data-theme="dark"] .chroma .c1 { color: #8b949e; font-style: italic }
[data-theme="dark"] .chroma .cs { color: #8b949e; font-weight: bold; font-style: italic }
[data-theme="dark"] .chroma .cp { color: #8b949e; font-weight: bold; font-style: italic }
[data-theme="dark"] .chroma .cpf { color: #8b949e; font-weight: bold; font-style: italic }
[data-theme="dark"] .chroma .gd { color: #ffa198; background-color: #490202 }
[data-theme="dark"] .chroma .ge { font-style: italic }
[data-theme="dark"] .chroma .gr { color: #ffa198 }
[data-theme="dark"] .chroma .gh { color: #79c0ff; font-weight: bold }
[data-theme="dark"] .chroma .gi { color: #56d364; background-color: #0f5323 }
[data-theme="dark"] .chroma .go { color: #8b949e }
[data-theme="dark"] .chroma .gp { color: #8b949e }
[data-theme="dark"] .chroma .gs { font-weight: bold }
[data-theme="dark"] .chroma .gu { color: #79c0ff }
[data-theme="dark"] .chroma .gt { color: #ff7b72 }
[data-theme="dark"] .chroma .gl { text-decoration: underline }
[data-theme="dark"] .chroma .w { color: #6e7681 }

[data-theme="dark"] .chroma { color: #e6edf3; }
[data-theme="dark"] .chroma .nx, [data-theme="dark"] .chroma .p, [data-theme="dark"] .chroma .nn, [data-theme="dark"] .chroma .n { color: #e6edf3; }

@media (prefers-color-scheme: dark) {
html:not([data-theme="light"]) .bg { color: #e6edf3; background-color: #0d1117; }
html:not([data-theme="light"]) .chroma { color: #e6edf3; background-color: #0d1117; }
html:not([data-theme="light"]) .chroma .err { color: #f85149 }
html:not([data-theme="light"]) .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
html:not([data-theme="light"]) .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
html:not([data-theme="light"]) .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
html:not([data-theme="light"]) .chroma .hl { background-color: #6e7681 }
html:not([data-theme="light"]) .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #737679 }
html:not([data-theme="light"]) .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #6e7681 }
html:not([data-theme="light"]) .chroma .line { display: flex; }
html:not([data-theme="light"]) .chroma .k { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .kc { color: #79c0ff }
html:not([data-theme="light"]) .chroma .kd { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .kn { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .kp { color: #79c0ff }
html:not([data-theme="light"]) .chroma .kr { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .kt { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .nc { color: #f0883e; font-weight: bold }
html:not([data-theme="light"]) .chroma .no { color: #79c0ff; font-weight: bold }
html:not([data-theme="light"]) .chroma .nd { color: #d2a8ff; font-weight: bold }
html:not([data-theme="light"]) .chroma .ni { color: #ffa657 }
html:not([data-theme="light"]) .chroma .ne { color: #f0883e; font-weight: bold }
html:not([data-theme="light"]) .chroma .nl { color: #79c0ff; font-weight: bold }
html:not([data-theme="light"]) .chroma .nn { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .py { color: #79c0ff }
html:not([data-theme="light"]) .chroma .nt { color: #7ee787 }
html:not([data-theme="light"]) .chroma .nv { color: #79c0ff }
html:not([data-theme="light"]) .chroma .vc { color: #79c0ff }
html:not([data-theme="light"]) .chroma .vg { color: #79c0ff }
html:not([data-theme="light"]) .chroma .vi { color: #79c0ff }
html:not([data-theme="light"]) .chroma .vm { color: #79c0ff }
html:not([data-theme="light"]) .chroma .nf { color: #d2a8ff; font-weight: bold }
html:not([data-theme="light"]) .chroma .fm { color: #d2a8ff; font-weight: bold }
html:not([data-theme="light"]) .chroma .l { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .ld { color: #79c0ff }
html:not([data-theme="light"]) .chroma .s { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .sa { color: #79c0ff }
html:not([data-theme="light"]) .chroma .sb { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .sc { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .dl { color: #79c0ff }
html:not([data-theme="light"]) .chroma .sd { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .s2 { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .se { color: #79c0ff }
html:not([data-theme="light"]) .chroma .sh { color: #79c0ff }
html:not([data-theme="light"]) .chroma .si { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .sx { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .sr { color: #79c0ff }
html:not([data-theme="light"]) .chroma .s1 { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .ss { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .m { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .mb { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .mf { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .mh { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .mi { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .il { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .mo { color: #a5d6ff }
html:not([data-theme="light"]) .chroma .o { color: #ff7b72; font-weight: bold }
html:not([data-theme="light"]) .chroma .ow { color: #ff7b72; font-weight: bold }
html:not([data-theme="light"]) .chroma .c { color: #8b949e; font-style: italic }
html:not([data-theme="light"]) .chroma .ch { color: #8b949e; font-style: italic }
html:not([data-theme="light"]) .chroma .cm { color: #8b949e; font-style: italic }
html:not([data-theme="light"]) .chroma .c1 { color: #8b949e; font-style: italic }
html:not([data-theme="light"]) .chroma .cs { color: #8b949e; font-weight: bold; font-style: italic }
html:not([data-theme="light"]) .chroma .cp { color: #8b949e; font-weight: bold; font-style: italic }
html:not([data-theme="light"]) .chroma .cpf { color: #8b949e; font-weight: bold; font-style: italic }
html:not([data-theme="light"]) .chroma .gd { color: #ffa198; background-color: #490202 }
html:not([data-theme="light"]) .chroma .ge { font-style: italic }
html:not([data-theme="light"]) .chroma .gr { color: #ffa198 }
html:not([data-theme="light"]) .chroma .gh { color: #79c0ff; font-weight: bold }
html:not([data-theme="light"]) .chroma .gi { color: #56d364; background-color: #0f5323 }
html:not([data-theme="light"]) .chroma .go { color: #8b949e }
html:not([data-theme="light"]) .chroma .gp { color: #8b949e }
html:not([data-theme="light"]) .chroma .gs { font-weight: bold }
html:not([data-theme="light"]) .chroma .gu { color: #79c0ff }
html:not([data-theme="light"]) .chroma .gt { color: #ff7b72 }
html:not([data-theme="light"]) .chroma .gl { text-decoration: underline }
html:not([data-theme="light"]) .chroma .w { color: #6e7681 }

  html:not([data-theme="light"]) .chroma { color: #e6edf3; }
  html:not([data-theme="light"]) .chroma .nx, html:not([data-theme="light"]) .chroma .p, html:not([data-theme="light"]) .chroma .nn, html:not([data-theme="light"]) .chroma .n { color: #e6edf3; }
}
